:root {
  --primary-bg: #1e2c31;
  --primary-text: #b6c5cc;
  --blue-gradient-bg: linear-gradient(to right, #207abd, rgb(0, 162, 255));
  --blue-border: #00a2ff;
  --white: #f8f8f8;
  --gray-border: #d3d3d3;
  --background-color: #f0f2f5;
}
